html {
  height: 100%;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#board {
  /* background-color: black;
  opacity: 50%; */
  /* height: 100%; */
  /* outline: dashed limegreen 2px; */
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.control-wrap {
  display: flex;
  /* flex-direction: column; */
  padding: 3px;
  outline: 2px dashed red;
  font-family: sans-serif;
  justify-content: center;
}

.control-text {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
}
